.background-image{
    background-position: center center;
    background-image: url("Images/galaxy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index:95;
    
}

* {
     margin: 0;
     padding: 0;
}
a {
    height:50px;
    width:50px;
    text-decoration: none;
    padding: 5px;
    border-radius: 100%;
    position: absolute;
    left: 600px;
    top: 460px;
    
    font-size: 18px;
    text-align: center;
    
    background-color: black;

    border: 0.0px solid red;
    
    color: white;
    padding: 8px;

    box-shadow: 0 0 30px 0 crimson,
                    0 0 30px 0 crimson,
                    0 0 10px 0 crimson inset;
  }
  
